---
import graduslogo from '../assets/logoColores.svg';
import logodptoelectro from '../assets/logoDptoElectronicaColor.svg';
import logodptocompu from '../assets/logoDptoComputoColor.svg';
import logodptocontrol from '../assets/logoDptoControlColor.svg';
import logodptocomu from '../assets/logoDptoComunicColor.svg';
import logodptomulti from '../assets/logoDptoMultimediaColor.svg';
import downarrow from '../assets/downArrow.svg';

export interface Props {
	title: string;
	subtitle: string;
}

const { title = "El Futuro Tecnológico nos une", subtitle = "Juntos redefinimos lo posible" } = Astro.props;
---

<div class="h-screen bg-gray-100 flex justify-center items-center text-center relative">
    <div class="flex flex-col items-center">
        <img src={graduslogo.src} width="600" height="50" alt="Gradus Technologies" />
        
        <h1 class="text-5xl font-bold mt-4">{title}</h1>
        <p class="text-3xl mt-2 tracking-tight leading-snug">{subtitle}</p>

        <section class="flex justify-center space-x-4 mt-8">
            <a href="#" target="_blank" rel="noopener" aria-label="Departamento Electrónica">
                <img src={logodptoelectro.src} width="60" height="60" alt="Electrónica" />
            </a>
            <a href="#" target="_blank" rel="noopener" aria-label="Departamento Computo">
                <img src={logodptocompu.src} width="60" height="60" alt="Computo" />
            </a>
            <a href="#" target="_blank" rel="noopener" aria-label="Departamento Control y Robótica">
                <img src={logodptocontrol.src} width="60" height="60" alt="Control y Robótica" />
            </a>
            <a href="#" target="_blank" rel="noopener" aria-label="Departamento Comunicaciones">
                <img src={logodptocomu.src} width="60" height="60" alt="Comunicaciones" />
            </a>
            <a href="#" target="_blank" rel="noopener" aria-label="Departamento Multimedia">
                <img src={logodptomulti.src} width="60" height="60" alt="Multimedia" />
            </a>
        </section>

        <a href="../pages/Content.astro" class="absolute bottom-4 left-1/2 transform -translate-x-1/2 animate-bounce">
            <img src={downarrow.src} width="40" height="40" alt="Desplazar hacia abajo" />
        </a>
    </div>
</div>
